<h2>Mis Usuarios</h2>
<ul class="usuarios">
    <li *ngFor="let usuario of usuarios" (click)="onSelect(usuario)">
        <span class="badge">{{usuario.id}}</span> {{usuario.nombre}}
    </li>
</ul>
<div *ngIf="usuarioSeleccionado">
    <h2>Detalles de {{usuarioSeleccionado.nombre | uppercase}}</h2>
    <div><span>id: </span>{{usuarioSeleccionado.id}}</div>
    <div>
        <label for="nombre">Nombre usuario: </label>
        <input id="nombre" [(ngModel)]="usuarioSeleccionado.nombre" placeholder="nombre">
    </div>
</div>