<h2>Mis Usuarios</h2>
<div>
    <label for="nuevo-usuario">Nombre usuario: </label>
    <input id="nuevo-usuario" #nombreUsuario />

    <button
        class="agregar-buton"
        (click)="agregar(nombreUsuario.value); nombreUsuario.value">
        Agregar Usuario
    </button>
</div>
<ul class="usuarios">
    <li *ngFor="let usuario of usuarios">
        <a routerLink="/usuarios/{{usuario.id}}">
            <span class="badge">{{usuario.id}}</span> {{usuario.nombre}}
        </a>
        <button class="borrar" title="Borrar Usuario"
            (click)="borrar(usuario)">x</button>
    </li>
</ul>
